################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyGeotab API Adapter/bin/Debug/netcoreapp3.1
/MyGeotab API Adapter/obj
/.vs
/MyGeotabAPIAdapter.Tests/bin/Debug/netcoreapp3.1
/MyGeotabAPIAdapter.Tests/obj
/MyGeotabAPIAdapter.Database/bin/Debug/netcoreapp3.1
/MyGeotabAPIAdapter.Database/obj
*.log
/MyGeotabAPIAdapter/bin/Debug/netcoreapp3.1
/MyGeotabAPIAdapter/obj
/MyGeotabAPIAdapter/Properties/PublishProfiles/MyGeotabAPIAdapter_Release_SCD_Target_win-x64.pubxml.user
/MyGeotabAPIAdapter/Properties/PublishProfiles/MyGeotabAPIAdapter_Release_SCD_Target_ubuntu.19.10-x64.pubxml.user
/MyGeotabAPIAdapter/Properties/PublishProfiles/MyGeotabAPIAdapter_Release_SCD_Target_linux-x64.pubxml.user
/MyGeotabAPIAdapter/bin/Release/netcoreapp3.1
/MyGeotabAPIAdapter/MyGeotabAPIAdapter.csproj.user
/MyGeotabAPIAdapter.Database/bin/Release/netcoreapp3.1
/MyGeotabAPIAdapter/PostgreSQL/BrettBackupScript.sql
*.user
/MyGeotabAPIAdapter.Tests/bin/Release/netcoreapp3.1/CoverletSourceRootsMapping
/MyGeotabAPIAdapter/bin/Debug/net5.0
/MyGeotabAPIAdapter.Database/bin/Debug/net5.0
/MyGeotabAPIAdapter.Tests/bin/Debug/net5.0
/MyGeotabAPIAdapter.Database.EntityPersisters/bin/Debug/net5.0
/MyGeotabAPIAdapter/bin/Release/net5.0
/MyGeotabAPIAdapter.Configuration/bin/Debug/net5.0
/MyGeotabAPIAdapter.Configuration/obj
/MyGeotabAPIAdapter.Database/bin/Release/net5.0
/MyGeotabAPIAdapter.Database.EntityPersisters/obj
/MyGeotabAPIAdapter.DataOptimizer/bin/Debug/net5.0
/MyGeotabAPIAdapter.DataOptimizer/obj
/MyGeotabAPIAdapter.Exceptions/bin/Debug/net5.0
/MyGeotabAPIAdapter.Exceptions/obj
/MyGeotabAPIAdapter.Helpers/bin/Debug/net5.0
/MyGeotabAPIAdapter.Helpers/obj
/MyGeotabAPIAdapter.Logging/bin/Debug/net5.0
/MyGeotabAPIAdapter.Logging/obj
/MyGeotabAPIAdapter.MyGeotabAPI/bin/Debug/net5.0
/MyGeotabAPIAdapter.MyGeotabAPI/obj
/MyGeotabAPIAdapter.Tests/bin/Release/net5.0
/MyGeotabAPIAdapter.Helpers/obj
/MyGeotabAPIAdapter.Exceptions/bin/Debug/net5.0
/MyGeotabAPIAdapter.Helpers/bin/Debug/net5.0
/MyGeotabAPIAdapter.Logging/bin/Debug/net5.0
/MyGeotabAPIAdapter.MyGeotabAPI/bin/Debug/net5.0
/MyGeotabAPIAdapter.MyGeotabAPI/obj
/MyGeotabAPIAdapter.State/bin/Debug/net5.0
/MyGeotabAPIAdapter.State/obj
/MyGeotabAPIAdapter.Configuration/bin/Debug/net5.0
/MyGeotabAPIAdapter.Configuration/obj
/MyGeotabAPIAdapter.DataOptimizer.EntityBrokers/bin/Debug/net5.0
/MyGeotabAPIAdapter.DataOptimizer.EntityBrokers/obj
/MyGeotabAPIAdapter.DataOptimizer.ObjectMappers/bin/Debug/net5.0
/MyGeotabAPIAdapter.DataOptimizer.ObjectMappers/obj
/MyGeotabAPIAdapter.Database.EntityPersisters/bin/Debug/net5.0
/MyGeotabAPIAdapter.Database.EntityPersisters/obj
/MyGeotabAPIAdapter/bin/Release/net5.0
/MyGeotabAPIAdapter.Database/bin/Release/net5.0
/MyGeotabAPIAdapter.Geospatial/bin/Debug/net5.0
/MyGeotabAPIAdapter.Geospatial/obj
/MyGeotabAPIAdapter.Configuration/bin/Release/net5.0
/MyGeotabAPIAdapter.Database.EntityPersisters/bin/Release/net5.0
/MyGeotabAPIAdapter.DataOptimizer/bin/Release/net5.0
/MyGeotabAPIAdapter.Exceptions/bin/Release/net5.0
/MyGeotabAPIAdapter.Geospatial/bin/Release/net5.0
/MyGeotabAPIAdapter.Helpers/bin/Release/net5.0
/MyGeotabAPIAdapter.Logging/bin/Release/net5.0
/MyGeotabAPIAdapter/bin/Debug/net6.0
/MyGeotabAPIAdapter.Configuration/bin/Debug/net6.0
/MyGeotabAPIAdapter.Database/bin/Debug/net6.0
/MyGeotabAPIAdapter.Database.EntityPersisters/bin/Debug/net6.0
/MyGeotabAPIAdapter.DataOptimizer/bin/Debug/net6.0
/MyGeotabAPIAdapter.Exceptions/bin/Debug/net6.0
/MyGeotabAPIAdapter.Geospatial/bin/Debug/net6.0
/MyGeotabAPIAdapter.Helpers/bin/Debug/net6.0
/MyGeotabAPIAdapter.Logging/bin/Debug/net6.0
/MyGeotabAPIAdapter.MyGeotabAPI/bin/Debug/net6.0
/MyGeotabAPIAdapter.Tests/bin/Debug/net6.0
/MyGeotabAPIAdapter/bin/Release/net6.0
/MyGeotabAPIAdapter.Configuration/bin/Release/net6.0
/MyGeotabAPIAdapter.Database/bin/Release/net6.0
/MyGeotabAPIAdapter.Database.EntityPersisters/bin/Release/net6.0
/MyGeotabAPIAdapter.DataOptimizer/bin/Release/net6.0
/MyGeotabAPIAdapter.Exceptions/bin/Release/net6.0
/MyGeotabAPIAdapter.Geospatial/bin/Release/net6.0
/MyGeotabAPIAdapter.Helpers/bin/Release/net6.0
/MyGeotabAPIAdapter.Logging/bin/Release/net6.0
/MyGeotabAPIAdapter.MyGeotabAPI/bin/Release/net6.0
/MyGeotabAPIAdapter.Tests/bin/Release/net6.0
/MyGeotabAPIAdapter.GeotabObjectMappers/obj
/MyGeotabAPIAdapter.GeotabObjectMappers/bin/Debug/net6.0
/MyGeotabAPIAdapter.GeotabObjectMappers/bin/Release/net6.0
/MyGeotabAPIAdapter/bin/Debug/net8.0
/MyGeotabAPIAdapter.Configuration/bin/Debug/net8.0
/MyGeotabAPIAdapter.Database/bin/Debug/net8.0
/MyGeotabAPIAdapter.Database.EntityPersisters/bin/Debug/net8.0
/MyGeotabAPIAdapter.DataOptimizer/bin/Debug/net8.0
/MyGeotabAPIAdapter.Exceptions/bin/Debug/net8.0
/MyGeotabAPIAdapter.Geospatial/bin/Debug/net8.0
/MyGeotabAPIAdapter.GeotabObjectMappers/bin/Debug/net8.0
/MyGeotabAPIAdapter.Helpers/bin/Debug/net8.0
/MyGeotabAPIAdapter.Logging/bin/Debug/net8.0
/MyGeotabAPIAdapter.MyGeotabAPI/bin/Debug/net8.0
/MyGeotabAPIAdapter.Tests/bin/Debug/net8.0
/MyGeotabAPIAdapter/bin/Release/net8.0
/MyGeotabAPIAdapter.Configuration/bin/Release/net8.0
/MyGeotabAPIAdapter.Database/bin/Release/net8.0
/MyGeotabAPIAdapter.Database.EntityPersisters/bin/Release/net8.0
/MyGeotabAPIAdapter.DataOptimizer/bin/Release/net8.0
/MyGeotabAPIAdapter.Exceptions/bin/Release/net8.0
/MyGeotabAPIAdapter.Geospatial/bin/Release/net8.0
/MyGeotabAPIAdapter.GeotabObjectMappers/bin/Release/net8.0
/MyGeotabAPIAdapter.Helpers/bin/Release/net8.0
/MyGeotabAPIAdapter.Logging/bin/Release/net8.0
/MyGeotabAPIAdapter.MyGeotabAPI/bin/Release/net8.0
/MyGeotabAPIAdapter.Tests/bin/Release/net8.0
.env
